$sky-blue:hsl(204, 70%, 53%);
$sky-blue-dark:hsl(204, 70%, 43%);
$sunny-yellow:hsl(48, 89%, 50%);
$sunny-yellow-dark: hsl(48, 89%, 40%);
$custom-light: hsl(192, 15%, 94%);

$custom-dark: hsl(210, 29%, 29%);