@import './custom_colors';

.notes {
  margin: 0;
}

.bm-menu {
  background-color: #fff;
  padding: 1em;
}

.list > .list-item {
  cursor: pointer;
  margin-bottom: .5em;
  padding: 1em;

  &:hover {
    background-color: #eaeaea;
  }
}

.list > .list-item.is-active {
  background-color: #ccc;
}

.notes-editor {
  padding: 0;
  height: calc(100vh - 4em);

  .quill {
    height: 100%;
  }
}