@import './custom_colors';

.notes {
  overflow: hidden;
  margin: 0;
}

.bm-menu {
  background-color: #fff;
  padding: 1em;
}

.list > .list-item {
  cursor: pointer;
  margin-bottom: .5em;
  padding: 1em;

  &:hover {
    background-color: #eaeaea;
  }
}

.list > .list-item.is-active {
  background-color: #ccc;
}